menu "Example Configuration"
    
    config WIFI_SSID
        string "Wi-Fi SSID"
        default "change_me"
        help
            SSID (Wi-Fi network name) to connect to.

    config WIFI_PASS
        string "Wi-Fi password"
        default "change_me"
        help
            Wi-Fi password to use for connecting.
    
endmenu